@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

} 

.header {
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.274)),
        url(IMG/Isla-de-Tenerife-1080-scaled.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    margin-bottom: 30px;

}

.dropdown {
    display: block;
    position: relative;
    float: center;
    width: 45%;
    margin-top: 10px; 
    margin-left: 40%;
    margin-bottom: 10px;

  }

  .dropdown button {
    display:block;
    width: 40%;
    background-color: #ebad8d;
    color: #000000;
    font-size: 1rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 40%;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    display: inline-block;
    background-color: #ce967b;
    color:#e1e1e3;
    text-decoration: none;
    
  }

  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #1e25af;
    width: 95%;
  }

.btn-1{
 display: inline-block;
 padding: 11px 35px;
 background-color: #CE967B;
 color: #F9FAFC;
 text-transform: uppercase;  
}

.btn-1:hover{
    background-color: #EBAD8D;
}
.coffee{
    padding: 100px;
    background-color: #E1E2E6;
    position: relative;
}
.coffee-content{
    text-align: center;
}
.coffee-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.coffee-img{
    position: absolute;
    top: 0;
    right: 0;
}
.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.coffee-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px
}

.coffee-1{
    padding: 0 25px;   
   }

.coffee-1 img{
    width: 200px;
}
.coffee-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom:15px;
}

.services{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.192),
        rgba(0, 0, 0, 0.349)),
        url(img/senderismo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;    
}

.services-content{
    text-align: center;
}
.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p{
    font-size: 16px;
    color:#C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}
.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.services-1{
    padding: 0 100px;
}

.services-1 img{
    width: 25px;
    margin-bottom: 15px;
}
.services-1 h3{
    color:#EACCB3;
    font-size: 18px;
}

.general{
    display: flex;
}
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}
.general-2{
    background-image: url(img/allen-taylor-QW9W92SdJ54-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3{
    background-image: url(img/mike-swigunski-Fz0XVa_rLQI-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}
.blog{
    padding: 100px 0;
    text-align: center;
}
.blog-content{
    display: flex;
    justify-content: space-between;
}


.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 25px;
}
.blog-1 h3{
    font-size: 25px;
    color:#323337;
}
.footer{
    padding: 100px 0;
    background-color: #000000;
}
.footer-content{
    display:flex;
    justify-content: space-between;
}
.link h3{
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15PX;
}
.link a{
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}

@media (min-width: 1300px) {
    
    body{
        width: 100%;
        background-color: #ffffff;
    }
  }

  @media  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    body{
      width: 99%;
      background-color: #eafad0;
    }
  }

  @media  screen and (min-width: 1024px) and (max-width: 1299px) and (orientation: landscape) {
    body{
      width: 99%;
      background-color: #d0fad9;
    }
  }

  @media  screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
    body{
      width: 99%;
      background-color: #edd0fa;
    }
  }

  @media  screen and (min-width: 480px) and (max-width: 599px) and (orientation: landscape) {
    body{
      width: 99%;
      background-color: #edd0fa;
    }
  }


